<nav class="container mx-auto my-10">
    <div class="site-title" >
      <a href="/"><h1 class="text-4xl font-bold mb-4">Dego Blog</h1></a>
    </div>
    <div class="flex justify-between p-1 ">
		<p>Blog Site</p>
		<ul class="flex space-x-2">
		  <li><a href="/">Blogs</a></li>
		  <li><a href="/about">About</a></li>
		  <li><a href="/blogs/create">New Blog</a></li>
		</ul>
	</div>
	<hr>
  </nav>